{% extends 'basepage.html' %}
{% block content %}


<div id='app'>

    <b-container class="list-container">
      <b-row class="center-this">
        <b-col> </b-col>
        <b-col cols="8">
          <H1>[[ title ]]</H1>
          <ul> 
              <li v-for="(value, name) in currency"> 
                  <h4> Currency: [[ name ]] - Value: [[ value ]] SEK </h4>
              </li>
          </ul>
            <form @submit.prevent="test">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Submit">
           </form>
        </b-col>
        <b-col> </b-col>
      </b-row>
    </b-container>

</div>

<script>

const app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    title: 'Welcome to the best budget app!',
    currency : {{ currencies|safe }},
  },
  created () {
      let a = {{ currencies|safe }};
      console.log(a);
  },
  methods: {
    test: function(event){
      console.log("In test:", event)
      let curr = event.target.elements.currency_name.value;
      let val = event.target.elements.new_value.value;
      console.log(curr, val);
      let data = {
        "currency_name" : curr,
        "new_value" : val
      };
      let config = {
        headers: {
          "X-CSRFToken" : getCookie('csrftoken')
        }
      }
      console.log(data);
      axios.post("/app/", data, config).then((response) => {
        console.log(response);
        this.currency[curr] = val;
      }, (error) => {
        console.log(error);
      });
    }
  }
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>
{% endblock %}