<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Load vue-->
    <script src="https://unpkg.com/vue"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
  </head>

  <body>

  <div id='login'>
    <b-container class="login-container">
      <b-row class="mt-5">
        <b-col> </b-col>
        <b-col cols="8">
          <form action="/login" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Log in">
          </form>
        </b-col>
        <b-col> </b-col>
      </b-row>

      <b-row class=mt-2>
        <b-col> </b-col>
        <b-col cols="6">
          {% if messages %}
            {% for message in messages %}
              <H3 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }} </H3>
            {% endfor %}  
          {% endif %}
        </b-col>
        <b-col> </b-col>
      </b-row>
    </b-container>


  </div>





  <script>

  const app = new Vue({
    el : "#login"
  });
  
  </script>

  </body>

</html>